html {
    box-sizing: border-box;

}
*, *::before, *::after {
    box-sizing: inherit;
}
.nombretienda {
    text-align: center;
    color: azure;
    background-color: rgb(84, 196, 92);
    padding: 20px 0;
}
.tienda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 80px auto;
    background-color: rgb(2, 44, 5);
}
.carrito {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 44, 5);
    border-radius: 10px;
    text-align: center;
    position: sticky;
    top: -1px;
}
.carrito img {
    width: 140px;
}
.ticketcompra img {
    width: 70px;
    padding: auto;
}
.almacen {
    background-color: rgb(2, 44, 5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    gap: 20px;
}
.producto {
    background-color: rgb(227, 243, 165);
    height: 160px;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
}
.imagen img {
    height: 120px;
    object-fit: cover;
}
.precio {
    height: 20px;
}
body {
    background-color: rgb(240, 193, 101);
}
.hide {
    display: none;
}
#dejada {
    background-color: aquamarine;
    padding: 10px 10px;
    height: 170px;
    width: 170px;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
}
#dejada img {
    width: 70;
}
#eliminar {
    background-color: rgb(227, 243, 165);
    height: 170px; 
    width: 170px;  
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
#displaycompra {
    background-color: rgb(227, 243, 165);
    height: auto;
    border: 2px solid rgb(230, 100, 7);
    overflow: hidden;
}
.instrucciones {
    background-color: rgb(2, 44, 5);
    color: azure;
    padding: 60px;
}
table {
    width: 100%;
}